<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
            <h2>{{>header}}</h2>

           <h2> HBS {{title}} page content</h2>
           <h2> name is :{{name}} </h2>
           <h2> city is :{{city}} </h2>
           <h2> age is :{{age}} </h2>
           <img src={{img1}} alt="">
      </body>
</html>